section#content.table-layout
    include ../../list/inPage-storeList
    aside.col-md-2.tray.tray-right.tray290.pn.panel-scroller.hidden.scroller-md.scroller-pn.activityDiv
        include ../../list/activity
