section#content.table-layout
    div#innerTicketDiv
        include ../../list/store-ticketList
    include ../models/ticket-modal
    aside.col-md-2.tray.tray-right.tray290.pn.hidden.panel-scroller.scroller-md.scroller-pn.activityDiv
        include ../../list/activity
