extends ../layout

block content
    section#contact(style="padding: 0px 20px;")
        div#unshipList
            include ../list/unShip-InvoiceList
        include ../endScript.html

    script.

        $(".nav li").removeClass('active');
        $(".nav a").removeClass('menu-open');
        $('#invioces').addClass('active');
        $('#inviocesAtag').addClass('menu-open');
