extends ../layout

block content
    section#contact(style="padding: 0px 20px;")

        div#user-List.animated.bounceInUp
            include ../list/userList
        include ../endScript.html

    script.
